body {
  width: 250px;
  background-color: #0d0d0d;
  color: #39FF14;
  font-family: monospace;
  padding: 15px;
  margin: 0;
}
h2 { border-bottom: 1px solid #39FF14; padding-bottom: 5px; margin-top: 0;}
button {
  width: 100%;
  background: #000;
  color: #39FF14;
  border: 1px solid #39FF14;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: inherit;
}
button:hover { background: #39FF14; color: #000; }